	<h1>Workitem</h1>
    <div class="panel panel-default">
    	<div class="panel-heading"><p><%=@workitem.name%></p></div>
    	<div class="panel-body">
    	<p><%=@workitem.description%><br/><br/>
		<%= link_to 'Edit', edit_workitem_path(@workitem) %> |
		<%= link_to 'Back', workitems_path %>
		</div>
	</div>
