<div id = "offerform">
<%= form_for([@workitem, @workitem.offers.new]) do |f| %>
    <div class = "form_group">
      <%= f.label "Description"%><br/>
      <%= f.text_area :description, class: "form-control"  %><br/>
    </div>

    <div class="actions">
 		<%= f.button "Make offer", name: :commit, value: "Make offer", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Publish"} %> 	
 	</div>
  <%end%>