<% if @workitem.offers.exists? %>
	<h1>Active offers</h1>
	<% workitem.offers.each do |f| %>

	 	<div class="panel panel-default">
			<div class="panel-body">
			<p><%=f.description%></p>
			</div>
		</div>
	<% end %>

<% end %>
