<% if @workitem.offers.exists? %>
	<h1>Active offers</h1>
	<% workitem.offers.each do |f| %>

	 	<div class="panel panel-default">
			<div class="panel-body">
				<div class="user_pic panel panel-default">
					<div class="panel-body">
						pic
					</div>
					<%=f.user.email if f.user.is_a? User %>
					<%=f.price%>
					<%=f.time%>
				</div>

			</div>
		</div>
	<% end %>

<% end %>
